body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 23px;
  color: #312a2a;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  position: relative;
}

.sidebar {
  background-color: rgb(58, 99, 233);
  padding-top: 0.8%;
  color: #e8e8e8;

  max-width: 20%;
}

.sidebar__header {
  padding: 0 0.7% 0 0.7%;
}

.sidebar__photo {
  border-radius: 50%;
  width: 100%;
  max-width: 250px;

  padding-top: 5px;
}

.sidebar__title {
  padding: 0 0.7% 0 0.7%;
  text-align: center;
}

.information {
  margin: 0 0.7% 0 0.7%;
}

.information__type {
  font-weight: bold;
}

.information__data {
  color: #69e8e8;
}

.link {
  text-decoration: none;
  color: #69e8e8;
  cursor: pointer;
}

.link:hover {
  color: rgb(39, 38, 38);
}

.main {
  padding-left: 0.5%;
  max-width: 80%;
}

.header__titlte {
  color: #312a2a;
}

.main__title {
  font-weight: bold;
  font-size: 26px;
}

.main__text {
  font-weight: normal;
  font-size: 24px;
}

.education {
  padding-top: 20px;
}
.information__section {
  list-style-type: none;
  padding-left: 3px;
}

.code__wrapper {
  background-color: rgb(204 204 204);
  border-radius: 2%;
  width: 100%;
}
.code__text {
  width: 100%;
  white-space: pre;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.footer__year {
  font-size: 23px;
  font-weight: bold;
}

@media (max-width: 970px) {
  .information__data {
    font-size: 18px;
  }
}

@media (max-width: 760px) {
  .sidebar__title {
    font-size: 29px;
  }

  .information__type {
    font-size: 23px;
  }

  .information__data {
    font-size: 15px;
  }

  .header__titlte {
    font-size: 40px;
  }

  .main__title {
    font-size: 22px;
  }

  .main__text {
    font-size: 20px;
  }

  .skill {
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .container {
    flex-wrap: wrap;
  }

  .sidebar {
    max-width: 100%;

    display: flex;
  }

  .information {
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar__title {
    display: none;
  }

  .information__section {
    width: 50%;
  }

  .information__data {
    font-size: 20px;
  }

  .main {
    max-width: 100%;
  }
}

@media (max-width: 550px) {
  .code__text {
    font-size: 19px;
  }

  .information__data {
    font-size: 16px;
  }
}

@media (max-width: 460px) {
  .sidebar__header {
    max-width: 50%;
  }

  .information {
    max-width: 50%;
  }

  .sidebar__header {
    margin: auto 0;
  }

  .sidebar__photo {
  }

  .information__section {
    width: 100%;
    text-align: center;
  }

  .header__titlte {
    font-size: 35px;
  }

  p {
    margin: 8px 0 8px 0;
  }
}

@media (max-width: 410px) {
  .information__type {
    font-size: 19px;
  }

  .header__titlte {
    font-size: 26px;
  }

  .code__text {
    font-size: 14px;
  }
}
