body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 23px;
  color: #312a2a;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 0.5%;

  position: relative;
}

.sidebar {
  background-color: rgb(58, 99, 233);
  padding-top: 0.8%;
  color: #e8e8e8;
}


.sidebar__photo {
  border-radius: 50%;
  width: 250px;
}

.sidebar__title {
  padding: 0 0.7% 0 0.7%;
  text-align: center;
}

.information {
  padding: 0 0.7% 0 0.7%;
}

.information__type {
  font-weight: bold;
}

.information__data {
  color: #69e8e8;
  
}

.link {
  text-decoration: none;
  color: #69e8e8;
  cursor: pointer;
}

.link:hover {
  color:rgb(39, 38, 38);
}


.main {
   padding-left: 0.5%;
}

.header__titlte {
  color: #312a2a;
}

.main__title {
  font-weight: bold;
  font-size: 26px;
}

.main__text {
  font-weight: normal;
  font-size: 24px;
}

.information__section {
  list-style-type: none;
  padding-left: 3px;
}


.code__wrapper {
  background-color: rgb(204 204 204);
  border-radius: 2%;
}
.code__text {
  white-space: pre;
}

.footer {
  display: flex;
  justify-content:space-between;
  align-items: center;

  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}